@use 'normalize';
@use 'breakpoints' as bp;

body {
  margin: 0 auto;
  max-width: #{bp.$xl};
  & > * {
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
  }
}

a { text-decoration: none; }

h1 {
  font-size: 30px;
  background: #91c547;
  padding: 30px 0;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 20px;
  clear: both;
  @include bp.desktop {
    line-height: 1em;
    font-size: 50px;
    padding: 52px 0;
    letter-spacing: 6px;
  }
  &:first-of-type { margin-top: 0; }
  &.tiny {
    padding: 24px 0;
    @include bp.desktop {
      clear: both;
      margin: 0;
      padding: 39px 0;
    }
    span {
      display: block;
      font-size: 10px;
      @include bp.desktop {
        font-size: 18px;
        line-height: 1.3em;
        letter-spacing: 1px;
      }
    }
  }
  &.follow {
    background: none;
    margin-top: 0;
    padding: 16px 0 52px 0;
    font-size: 28px;
    letter-spacing: 3px;
    line-height: 1em;
    @include bp.tablet {
      padding: 0;
      font-size: 30px;
      margin: 46px 0 80px 0;
    }
    @include bp.desktop {
      padding: 16px 0 140px 0;
      font-size: 52px;
      margin-top: 60px;
    }
  }
}

img {
  width: 100%;
  display: block;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 20px;
  &:first-of-type:not(.contact) {
    padding: 0;
    margin-top: 0;
    @include bp.mobile {
      padding-top: 60px;
      max-height: 304px;
    }
    @include bp.tablet { height: 336px; }
    @include bp.desktop { height: 512px; }
  }
  &.beers {
    @include bp.tablet {
      margin: 0;
      padding: 0;
      float: left;
      width: 33.3%;
      height: 202px;
    }
    @include bp.desktop {
      margin: 0;
      padding: 0;
      float: left;
      width: 33.3%;
      height: 356px;
    }
  }
  &.map {
    @include bp.tablet {
      float: left;
      margin: 0;
      display: block;
      width: 54%;
      padding: 0% 2% 2% 2%;
      margin-top: 20px;
    }
    @include bp.desktop {
      float: left;
      margin: 0;
      display: block;
      width: 54%;
      padding: 2%;
    }
    &.contact {
      @include bp.tablet {
        float: right;
        width: 50%;
        box-sizing: border-box;
        padding: 0 4%;
        margin-top: 40px;
        min-height: 210px;
      }
      @include bp.desktop {
        float: right;
        width: 50%;
        box-sizing: border-box;
        padding: 0% 4%;
      }
    }
  }
  &.prod,
  &.merch {
    @include bp.tablet {
      width: 33.3%;
      height: 250px;
      float: left;
      padding: 2%;
      margin: 2% 0;
    }
    @include bp.desktop {
      width: 29.3%;
      height: 300px;
      float: left;
      padding: 2%;
      margin: 2% 0;
    }
    &.first {
      @include bp.tablet {
        margin-left: 0;
      }
      @include bp.desktop {
        margin-left: 6%;
      }
    }
    &.last {
      @include bp.tablet {
        margin-right: 0;
      }
      @include bp.desktop {
        margin-right: 6%;
      }
    }
  }
}
p {
  padding: 0 20px;
  font-size: 10px;
  line-height: 1.5em;
  margin-top: 20px;
  &.address {
    font-size: 11px;
    line-height: 1.8em;
    @include bp.mobile {
      font-size: 11px;
      line-height: 1.8em;
    }
    @include bp.tablet {
      margin: 0;
      width: 46%;
      float: left;
      padding: 0 1% 1.5% 1%;
      box-sizing: border-box;
      font-size: 11px;
      line-height: 2em;
      letter-spacing: 1px;
      margin-top: 20px;
    }
    @include bp.desktop {
      margin: 0;
      width: 46%;
      float: left;
      padding: 1%;
      box-sizing: border-box;
      font-size: 19px;
      line-height: 2em;
      letter-spacing: 1px;
    }
    &.first {
      @include bp.desktop {
        margin-top: 2%;
      }
    }
  }
  &.info {
    margin-top: 12px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1.5px;
    @include bp.tablet {
      margin-top: 0px;
      font-size: 13px;
    }
    @include bp.desktop {
      margin-top: 12px;
      font-size: 20px;
    }
  }
  &.img-bg {
    background: url('aboutimage.jpg') no-repeat;
    background-size: cover;
    margin: 0;
    padding: 16px 15px;
    font-size: 12px;
    @include bp.mobile {
      padding: 16px 15px;
      font-size: 12px;
    }
    @include bp.tablet {
      font-size: 20px;
      padding: 80px 50px;
      line-height: 1.2em;
    }
    @include bp.desktop {
      font-size: 33px;
      padding: 191px 80px;
      line-height: 1.2em;
    }
  }
  &.title {
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
    left: 0;
    right: 0;
    color: #fff;
    top: 145px;
    font-size: 28px;
    @include bp.mobile {
      top: 145px;
      font-size: 28px;
    }
    @include bp.tablet {
      top: 226px;
      font-size: 33px;
    }
    @include bp.desktop {
      top: 290px;
      font-size: 74px;
      letter-spacing: 8px;
    }
  }
}
/*===HEADER===*/
.header {
  background-color: #e1e1e1;
  width: 100%;
  z-index: 3;
  float: left;
  @include bp.mobile { position: fixed; }
  a {
    color: black;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #e1e1e1;
    @include bp.desktop {
      padding-right: 20px;
    }
  }
  li {
    @include bp.tablet { float: left; }
    @include bp.desktop { float: left; }
    a {
      display: block;
      @include bp.mobile {
        padding: 20px 10px;
      }
      @include bp.tablet {
        padding: 42px 10px;
        font-size: 20px;
      }
      @include bp.desktop {
        padding: 35px 16px;
        font-size: 30px;
      }
    }
  }
  li a:hover,
  .menu-btn:hover {
    background-color: #f4f4f4;
  }
  .logo a {
    display: block;
    letter-spacing: 2px;
    float: left;
    font-size: 16px;
    padding: 20px 0px 20px 10px;
    @include bp.mobile {
      font-size: 16px;
      padding: 20px 0px 20px 10px;
    }
    @include bp.tablet {
      padding: 44px 0px 44px 20px;
      letter-spacing: 2px;
      line-height: 1em;
      font-size: 20px;
    }
    @include bp.desktop {
      padding: 36px 0px 36px 30px;
      letter-spacing: 2px;
      line-height: 1em;
      font-size: 33px;
    }
  }
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    @include bp.tablet {
      clear: none;
      float: right;
      max-height: none;
    }
    @include bp.desktop {
      clear: none;
      float: right;
      max-height: none;
    }
  }
  .menu-icon {
    cursor: pointer;
    float: right;
    padding: 29px 16px;
    position: relative;
    user-select: none;
    @include bp.tablet { display: none; }
    @include bp.desktop { display: none; }
    .nav-icon {
      background: #333;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 24px;
      &:before,
      &:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }
      &:before {
        top: 6px;
      }

      &:after {
        top: -6px;
      }

    }
  }
  .menu-btn {
    display: none;
    &:checked ~ .menu {
      max-height: 100%;
    }
    &:checked ~ .menu-icon .nav-icon {
      background: transparent;
    }

    &:checked ~ .menu-icon .nav-icon:before {
      transform: rotate(-45deg);
      top:0;
    }

    &:checked ~ .menu-icon .nav-icon:after {
      transform: rotate(45deg);
      top:0;
    }

  }
}
/*===END OF HEADER===*/
@include bp.tablet {
  div.contact-wrap {
    display: flex;
    align-items: flex-end;
    img { order:2; }
    form { order:1; }
  }
}
@include bp.desktop {
  div.contact-wrap {
    display: flex;
    align-items: flex-end;
    img { order:2; }
    form { order:1; }
  }
}

input,
textarea {
  border-radius: 0;
  border: 1px solid #000;
  margin-bottom: 5px;
  box-sizing: border-box;
  padding: 1px 5px;
}
/*===SECTION*===*/
section {
  padding: 0 20px 56px 20px;
  @include bp.tablet {
    padding: 0 20px 30px 20px;
  }
  &.contact {
    padding: 0 20px 70px 20px;
    @include bp.tablet {
      padding: 0 20px 32px 20px;
    }
    h1 {
      padding: 20px 0 56px 0;
    }
  }
  &.subscription {
    background: #e1e1e1;
    @include bp.tablet {
      clear: both;
    }
    @include bp.desktop {
      padding: 0 20px 48px 20px;
      clear: both;
    }
    input {
      background: #e1e1e1;
    }
    h1 {
      @include bp.tablet {
        padding: 18px 0 18px 0;
      }
      @include bp.desktop {
        font-size: 40px;
        padding: 42px 0 30px 0;
        letter-spacing: 2px;
      }
    }
  }
  > div {
    @include bp.mobile {
      max-width: 350px;
      margin: 0 auto;
    }
    @include bp.tablet {
      width: 300px;
      margin: 0 auto;
      padding: 0px 40px 0 0px;
    }
    @include bp.desktop {
      width: 570px;
      margin: 0 auto;
      //min-width: 570px;
      padding: 0px 90px 0 0px;
    }
  }
  h1 {
    background: none;
    font-size: 20px;
    padding: 30px 0 56px 0;
  }
  label {
    width: 13%;
    display: inline-block;
    text-align: right;
    margin-right: 2%;
    @include bp.desktop {
      font-size: 24px;
      letter-spacing: 1px;
    }
  }
  input {
    width: 84%;
    @include bp.desktop {
      padding: 8px 7px;
      margin-bottom: 12px;
    }
  }
}

form {
  padding: 0 25px;
  margin-top: 20px;
  @include bp.mobile {
    padding: 0 25px;
    margin-top: 20px;
  }
  @include bp.tablet {
    margin-top: 0;
    width: 50%;
    float: left;
    padding: 0 0% 0% 5%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  @include bp.desktop {
    margin-top: 0;
    width: 50%;
    float: left;
    padding: 10.5% 0% 0% 5%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  label {
    font-size: 12px;
    @include bp.tablet {
      width: 14%;
      text-align: right;
      margin-right: 1%;
    }
    @include bp.desktop {
      width: 13.5%;
      text-align: right;
      font-size: 23px;
      margin-right: 1.5%;
      margin-top: 5px;
    }
  }
  input,
  textarea {
    width: 100%;
    margin-bottom: 10px;
    @include bp.tablet {
      width: 80%;
      padding: 3px;
    }
    @include bp.desktop {
      width: 80%;
      padding: 8px;
      margin-bottom: 14px;
    }
  }
  input[type=submit] {
    border: none;
    padding: 10px 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 12px;
    margin: 0;
    @include bp.tablet {
      margin-left: 15%;
    }
    @include bp.desktop {
      margin-left: 15%;
    }
  }
  br:last-of-type {
    @include bp.desktop {
      display: none;
    }
  }
}
/*===FOOTER===*/
footer {
  padding: 20px;
  background: #91c547;
  text-align: center;
  @include bp.desktop {
    padding: 32px 20px;
  }
  p, a, h2, h3 {
    font-size: 15px;
    margin: 0;
    color: black;
    @include bp.desktop {
      font-size: 25px;
      letter-spacing: 1px;
    }
  }
  .small {
    font-size: 11px;
    line-height: 1em;
    margin: 10px 0;
    @include bp.desktop {
      font-size: 18px;
      letter-spacing: 1px;
    }

  }
  small {
    font-size: 9px;
    font-family: serif;
    text-transform: none;
  }
}
