* {
  margin: 0;
  padding: 0;
}
body > * {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
}
a { text-decoration: none; }
//3:20pm
h1 {
  font-size: 30px;
  background: #91c547;
  padding: 30px 0;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 20px;
  &:first-of-type { margin-top: 0; }
  &.tiny{
    padding: 24px 0;
    span {
      display: block;
      font-size: 10px;
    }
  }
}
img {
  width: 100%;
  display: block;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 20px;
  &:first-of-type {
    padding: 0;
    margin-top: 0;
    padding-top: 60px;
  }
}
p {
  padding: 0 20px;
  font-size: 10px;
  line-height: 1.5em;
  margin-top: 20px;
}

.header {
  background-color: #e1e1e1;
  width: 100%;
  z-index: 3;
  position: fixed;
  a {
    color: black;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #e1e1e1;
  }
  li a {
    display: block;
    padding: 20px 10px;
  }
  li a:hover,
  .menu-btn:hover {
    background-color: #f4f4f4;
  }
  .logo a {
    display: block;
    float: left;
    font-size: 18px;
    padding: 20px 0px 20px 10px;
    letter-spacing: 2px;
  }
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  .menu-icon {
    cursor: pointer;
    float: right;
    padding: 29px 16px;
    position: relative;
    user-select: none;
    .nav-icon {
      background: #333;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 24px;
      &:before,
      &:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }
      &:before {
        top: 6px;
      }

      &:after {
        top: -6px;
      }

    }
  }
  .menu-btn {
    display: none;
    &:checked ~ .menu {
      max-height: 240px;
    }
    &:checked ~ .menu-icon .nav-icon {
      background: transparent;
    }

    &:checked ~ .menu-icon .nav-icon:before {
      transform: rotate(-45deg);
      top:0;
    }

    &:checked ~ .menu-icon .nav-icon:after {
      transform: rotate(45deg);
      top:0;
    }

  }
}
section {
  padding: 0 20px 50px 20px;
  h1 {
    background: none;
    font-size: 20px;
    padding: 10px 0 50px 0;
  }
  div.clear {
    clear: both;
  }
  label {
    width: 13%;
    display: inline-block;
    text-align: right;
    margin-right: 6px;
  }
  input {
    width: 80.5%;
    padding: 1px 5px;
    border-radius: 0;
    border: 1px solid #000;
    margin-bottom: 5px;
  }
}
footer {
  padding: 20px;
  background: #91c547;
  text-align: center;
  p, a, h2, h3 {
    font-size: 15px;
    margin: 0;
    color: black;
  }
  .small {
    font-size: 12px;
    line-height: 1em;
    margin: 10px 0;
  }
  small {
    font-size: 9px;
    font-family: serif;
    text-transform: none;
  }
}
@media screen and (max-width: 320px) {}